

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.search-input{
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #ff00cc, #333399); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
  border: 4px solid rgba(255, 255, 255,0.5);
  color: #fff !important;
}


.search-input::placeholder {
  color: #e2e2e2;
}

.search-input:focus{
  box-shadow: inset 0 0 0 #ddd;
}
